<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>{% block page_title %} {% endblock %}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='css/bulma.min.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
        {% block extra_css %}
        {% endblock %}

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <nav class="navbar is-light">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="img/deadalus.webp" width="28" height="28">
                        <h1 class="title pl-2 is-5"> 0xdeada1u5</h1>
                    </a>
                    <a role="button" class="navbar-burger mr-2" aria-label="menu" aria-expanded="false"
                       data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-end">
                        {% block navbar_elements %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}
    </body>
    {% block extra_js %}
    {% endblock %}
    <script src="js/fontawesome.all.min.js"></script>
    <script src="js/nav-burger.js"></script>
</html>
