{% extends "base.html" %}

{% block page_title %} Contact us {% endblock %}

{% block navbar_elements %}
<a class="navbar-item" href="/">
    Home
</a>
<a class="navbar-item" href="/team">
    Team
</a>
<a class="navbar-item" href="/participations">
    Participations
</a>
<a class="navbar-item" href="/events">
    Events
</a>
<a class="active navbar-item" href="/contact">
    Contact
</a>
{% endblock %}


{% block content %}
<div class="container py-6 pb-2 pt-4">
    <div class="has-text-centered">
        <div class="columns page-header is-variable is-4 is-centered is-align-items-center mx-auto">
                <div class="column is-narrow">
                    <figure class="image is-128x128 mx-auto">
                        <img src="/img/deadalus.webp">
                    </figure>
                </div>
            <div class="column is-narrow">
                <div class="has-text-centered media-content column is-narrow">
                    <p class="title is-1">0xdeada1u5</p>
                    <p class="subtitle is-6">CTF Team, CSD UoC</p>
                    <p class="subtitle is-6">
                        <a class="mx-1" title="Twitter" href="https://twitter.com/0xdeada1u5" target="_blank"><i class="fa-2x fab fa-twitter"></i></a>
                        <a class="mx-1" title="Twitter" href="https://www.linkedin.com/company/0xdeada1u5" target="_blank"><i class="fa-2x fab fa-linkedin"></i></a>
                        <a class="mx-1" title="GitHub" href="https://github.com/0xdeada1u5" target="_blank"><i class="fa-2x fab fa-github"></i></a>
                        <a class="mx-1" title="Odysee" href="https://odysee.com/@0xdeada1u5:8" target="_blank"><i class="fa-2x fas fa-video"></i></a>
                        <a class="mx-1" title="CTFtime" href="https://ctftime.org/team/178184" target="_blank"><i class="fa-2x fas fa-flag-checkered"></i></a>
                        <a class="mx-1" title="Email us" href="mailto:ctf@csd.uoc.gr" target="_blank"><i class="fa-2x fas fa-envelope"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-6 pb-2 pt-4">
    <div class="has-text-centered">
        <div class="columns is-variable is-4 page-header is-centered is-align-items-center mx-auto">
            <div class="column is-narrow">
                <figure class="image is-128x128 mx-auto"><img src="/img/UoC_logo.webp"></figure>
            </div>
            <div class="media-content column is-narrow">
                <p class="title is-3">Τμήμα Επιστήμης Υπολογιστών</p>
                <p class="subtitle is-6 pt-2">Πανεπιστήμιο Κρήτης, Πανεπιστημιούπολη Βουτών<br/>TK 70013, Ηράκλειο Κρήτης, Ελλάδα</p>                <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        View on <a href="https://goo.gl/maps/buAgASTEF1zo5iW48">Google Maps</a>
                      </span>
                    </p>
                    <p class="card-footer-item">
                      <span>
                        <a href="https://www.csd.uoc.gr/CSD/index.jsp?content=contact_and_location">Contact and Location</a>
                      </span>
                    </p>

                    <p class="card-footer-item">
                        <span>
                            <a href="https://www.csd.uoc.gr/">Official Website</a>
                        </span>
                      </p>
                  </footer>
            </div>
        </div>
    </div>
</div>

<div class="container py-6 pb-2 pt-4">
    <div class="has-text-centered">
        <div class="columns is-variable is-4 page-header is-centered is-align-items-center mx-auto">
            <div class="column is-narrow">
                <p class="title is-2">Βρείτε μας στο discord</p>
            </div>
        </div>
        <div class="columns is-variable is-4 page-header is-centered is-align-items-center mx-auto">
            <div class="column is-narrow">

                <img width="256px" height="256px" src="/img/QR_coding_events_discord.webp">
                <p class="title is-4">Coding Events : CSD.UOC</p>
                <p class="subtitle is-6"><a href="https://discord.gg/aK7pZCrfwr">https://discord.gg/aK7pZCrfwr</a></p>
            </div>
            <div class=" column is-narrow">
                
                <img width="256px" height="256px" src="/img/QR_daidalos_academy_discord.webp">
                <p class="title is-4">Δαίδαλος Academy</p>
                <p class="subtitle is-6"><a href="https://discord.gg/FHaFVtqEU5">https://discord.gg/FHaFVtqEU5</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
