{% extends "base.html" %}

{% block content %}
<section class="section pb-2 pt-4">
    <div class="container">
        <div class="box has-text-centered">
            <div class="columns page-header is-gapless is-centered is-align-items-center mx-auto">
                <div class="column is-narrow">
                    <figure class="image is-128x128 mx-auto">
                        <img src="images/deadalus.webp">
                    </figure>
                </div>
                <div class="media-content column">
                    <p class="title is-1">0xdeada1u5</p>
                    <p class="subtitle is-6">CTF Team, CSD UoC</p>
                    <p class="subtitle is-6 pt-2">
                        0xdeada1u5 was founded in 2021, participating as a team on the UniWA 2021 CTF Challenge.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="section py-2">
    <div class="container">
        <div class="box">
            <h1 class="title has-text-centered">Members</h1>
            <div class="columns is-multiline is-mobile is-centered is-3 member-list">
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/markatos.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">markatos</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/harryman.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">harryman</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/dimspith.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">dimspith</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/verdic.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">verdic</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/johnarakas.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">johnarakas</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/giorgosioak.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">giorgosioak</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/papamano.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">papamano</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/dionkal.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">dionkal</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/georgepant.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">georgepant</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/mirtia.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">mirtia</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/pbekos.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">pbekos</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/antonis_para.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">antonis_para</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/root.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">root</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/rafail.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">rafail</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/asiskos.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">asiskos</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/kokol16.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">kokol16</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/panpas.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">panpas</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/eltjonqef.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">eltjonqef</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/atheofanous.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">atheofanous</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/mipach.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">mipach</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/giannose.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">giannose</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/georgeleve.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">georgeleve</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/anasteva.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">anasteva</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/cast.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">cast</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/theo0k.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">theo0k</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/Restricted.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">Restricted</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/An0nSaiko.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">An0nSaiko</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/Art3mis.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">Art3mis</p>
                    </div>
                </div>
                <div class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
                    <div class="card-image">
                        <figure class="image is-64x64 mx-auto">
                            <img class="member-image" src="images/members/nikosboum.webp">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-6 pt-2">nikosboum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section py-2">
    <div class="container">
        <div class="box">
            <h1 class="title has-text-centered">Participations</h1>
            <table class="table is-fullwidth is-hoverable">
                <thead>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Score</th>
                </thead>
                <tbody>
                    <tr>
                        <th>Wolverine Security Conference/CTF</th>
                        <td>49</td>
                        <td>3938</td>
                    </tr>
                    <tr>
                        <th>picoCTF 2022 </th>
                        <td>272</td>
                        <td>11600</td>
                    </tr>
                    <tr>
                        <th>DaVinciCTF 2022 </th>
                        <td>63</td>
                        <td>1820</td>
                    </tr>
                    <tr>
                        <th>MHSCTF 2022 </th>
                        <td>24</td>
                        <td>1015</td>
                    </tr>
                    <tr>
                        <th>DefCamp CTF 21-22 Online </th>
                        <td>145</td>
                        <td>243</td>
                    </tr>
                    <tr>
                        <th>DiceCTF 2022 </th>
                        <td>289</td>
                        <td>143</td>
                    </tr>
                    <tr>
                        <th>X-MAS CTF 2021 Second Weekend </th>
                        <td>101</td>
                        <td>809</td>
                    </tr>
                    <tr>
                        <th>HTB Uni CTF 2021 - Quals </th>
                        <td>66</td>
                        <td>2625</td>
                    </tr>
                    <tr>
                        <th>K3RN3LCTF </th>
                        <td>    69</td>
                        <td>    1271</td>
                    </tr>
                    <tr>
                        <th>DamCTF 2021 </th>
                        <td>210</td>
                        <td>1239</td>
                    </tr>
                    <tr>
                        <th>DownUnderCTF 2021</th>
                        <td>653</td>
                        <td>900</td>
                    </tr>
                    <tr>
                        <th>S.H.E.L.L. CTF 2021</th>
                        <td>84</td>
                        <td>1941</td>
                    </tr>
                    <tr>
                        <th>EESTech Challenge Athens 2021</th>
                        <td>5</td>
                        <td>1512</td>
                    </tr>
                    <tr>
                        <th>ångstromCTF 2021</th>
                        <td>290</td>
                        <td>815</td>
                    </tr>
                    <tr>
                        <th>UniWA CTF 2021</th>
                        <td>2</td>
                        <td>8630</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock content %}

