{% extends "base.html" %}

{% block content %}
<section class="section pb-2 pt-4">
    <div class="container">
        <div class="box has-text-centered">
            <h1 class="title is-3">{{ section.title }}</h1>
        </div>
    </div>
</section>
<section class="section py-4">
    <div class="container">
        <div class="columns is-centered is-3">
            {% for page in section.pages %}
            <div class="card column mx-3 has-text-centered mb-4">
                <h3 class="subtitle is-5 mb-1">
                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                </h3>
                <h4 class="subtitle is-6">{{ page.date }}</h4>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
