{% extends "base.html" %}

{% block page_title %} Our team {% endblock %}

{% block navbar_elements %}
<a class="navbar-item" href="/">
    Home
</a>
<a class="active navbar-item" href="/team">
    Team
</a>
<a class="navbar-item" href="/participations">
    Participations
</a>
<a class="navbar-item" href="/events">
    Events
</a>
<a class="navbar-item" href="/calendar">
    Calendar
</a>
<a class="navbar-item" href="/contact">
    Contact
</a>
{% endblock %}

{% block content %}
<div class="container py-6">
    <h1 class="title has-text-centered">Συντονιστές Καθηγητές</h1>
    <div class="columns is-multiline is-mobile is-centered is-3 member-list">
        <div
            class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
            <div class="card-image">
                <figure class="image is-96x96 mx-auto"><img class="member-image"
                                                            src="/img/instructor.webp"></figure>
            </div>
            <div class="media-content">
                <p>Prof. Evangelos P. Markatos</p>
            </div>
        </div>
        <div
            class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
            <div class="card-image">
                <figure class="image is-96x96 mx-auto"><img class="member-image"
                                                            src="/img/instructor.webp"></figure>
            </div>
            <div class="media-content">
                <p>Prof. Harry Manifavas</p>
            </div>
        </div>
    </div>

    <h1 class="title has-text-centered">Η ομάδα</h1>
    {% set leads = section.extra.team_leads | default(value=[]) %}
    {% set members = section.extra.team_members | default(value=[]) %}
    {% set veterans = section.extra.veterans | default(value=[]) %}

    {% if leads | length > 0 %}
    <div class="columns is-mobile is-centered is-3 member-list">
        {% for member in leads %}
        <div
            class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
            <div class="card-image">
                <figure class="image is-96x96 mx-auto"><img class="member-image" src="{{ member.image }}"></figure>
            </div>
            <div class="media-content">
                <p>{{ member.name }}</p>
                {% if member.links %}
                {% for link in member.links %}
                <a class="mx-1" href="{{ link.url }}" target="_blank">
                    {% if link.icon_image %}
                    <img src="{{ link.icon_image }}" alt="" style="width:1.1em;height:1.1em;vertical-align:-0.1em;">
                    {% else %}
                    <i class="{{ link.icon }}"></i>
                    {% endif %}
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if members | length > 0 %}
    <div class="columns is-multiline is-mobile is-centered is-3 member-list">
        {% for member in members %}
        <div
            class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
            <div class="card-image">
                <figure class="image is-96x96 mx-auto"><img class="member-image" src="{{ member.image }}"></figure>
            </div>
            <div class="media-content">
                <p>{{ member.name }}</p>
                {% if member.links %}
                {% for link in member.links %}
                <a class="mx-1" href="{{ link.url }}" target="_blank">
                    {% if link.icon_image %}
                    <img src="{{ link.icon_image }}" alt="" style="width:1.1em;height:1.1em;vertical-align:-0.1em;">
                    {% else %}
                    <i class="{{ link.icon }}"></i>
                    {% endif %}
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if veterans | length > 0 %}
    <h1 class="title has-text-centered">Veterans</h1>
    <div class="columns is-multiline is-mobile is-centered is-3 member-list">
        {% for member in veterans %}
        <div
            class="card column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-shadowless has-text-centered">
            <div class="card-image">
                <figure class="image is-96x96 mx-auto"><img class="member-image" src="{{ member.image }}"></figure>
            </div>
            <div class="media-content">
                <p>{{ member.name }}</p>
                {% if member.links %}
                {% for link in member.links %}
                <a class="mx-1" href="{{ link.url }}" target="_blank">
                    {% if link.icon_image %}
                    <img src="{{ link.icon_image }}" alt="" style="width:1.1em;height:1.1em;vertical-align:-0.1em;">
                    {% else %}
                    <i class="{{ link.icon }}"></i>
                    {% endif %}
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
